@using Practice.ViewModels

@model LayoutTestModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title@Model.SubTitle</title>
    @RenderSection("head", required: false)

    @{
        Html.RenderPartial("Quote", null);
    }

    @RenderSection("style", required: false)
    @RenderSection("script", required: false)
</head>
<body>
    <div>shared layout</div>
    <div>@RenderBody()</div>
</body>
</html>
